<!-- .block-banner -->
<div class="block block-banner">
    <div class="container">
        <a href="https://www.facebook.com/yenvangmiennam" target="_blank" class="block-banner__body">
            <div class="block-banner__image block-banner__image--desktop" style="background-image: url('assets/images/banners/banner-1.jpg')"></div>
            <div class="block-banner__image block-banner__image--mobile" style="background-image: url('assets/images/banners/banner-1-mobile.jpg')"></div>
            <div class="block-banner__title">
              Mr. Thắng <br class="block-banner__mobile-br"> 094 280 1401 (zalo) <br class="block-banner__mobile-br">
              Mrs. Ngân <br class="block-banner__mobile-br"> 039 573 5218 (zalo) <br class="block-banner__mobile-br">
            </div>
            <div class="block-banner__text">Hãy nhấp vào để chúng tôi có thể tư vấn cho bạn</div>
            <div class="block-banner__button">
                <span class="btn btn-sm btn-primary">Facebook</span>
            </div>
        </a>
    </div>
</div>
<!-- .block-banner / end -->
