<app-block-map></app-block-map>

<app-page-header [header]="'Thông tin liên hệ'" [breadcrumbs]="[
    {label: 'Trang chủ',       url: '../../'},
    {label: 'Thông tin liên hệ', url: ''}
]"></app-page-header>

<div class="block">
  <div class="container">
    <div class="card mb-0">
      <div class="card-body contact-us">
        <div class="contact-us__container">
          <div class="row">
            <div class="col-12 col-lg-12 pb-8 pb-lg-0">
              <h4 class="contact-us__header card-title">Địa chỉ</h4>

              <div class="contact-us__address">
                <p>
                  {{ store.address }}<br>
                  {{ store.staff1 }}<br />
                  Email: <a [href]="'mailto:' + store.email1 + '?Subject=Chao%20Yen%20Vang%20Mien%20Nam'"
                    target="_top">{{ store.email1 }}</a><br>
                  SĐT: <a [href]="'tel:' + store.phone1" target="_top">{{ store.phone1 }}</a><br />
                  {{ store.staff2 }}<br />
                  Email: <a [href]="'mailto:' + store.email2 + '?Subject=Chao%20Yen%20Vang%20Mien%20Nam'"
                    target="_top">{{ store.email2 }}</a><br />
                  SĐT: <a [href]="'tel:' + store.phone2" target="_top">{{ store.phone2 }}</a>
                </p>

                <p>
                  <strong>Giờ làm việc</strong><br>
                  {{ store.hours }}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
