/*
// .home
*/
.float-contact {
  position: fixed;
  bottom: 20px;
  left: 20px;
  z-index: 99999;
}

.chat-zalo {
  background: #8eb22b;
  border-radius: 20px;
  padding: 0 18px;
  color: white;
  display: block;
  margin-bottom: 6px;
}

.chat-face {
  background: #125c9e;
  border-radius: 20px;
  padding: 0 18px;
  color: white;
  display: block;
  margin-bottom: 6px;
}

.float-contact .hotline {
  background: #d11a59 !important;
  border-radius: 20px;
  padding: 0 18px;
  color: white;
  display: block;
  margin-bottom: 6px;
}

.chat-zalo a,
.chat-face a,
.hotline a {
  font-size: 15px;
  color: white;
  font-weight: 400;
  text-transform: none;
  line-height: 0;
}

.scroll-to-top {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 99999;
  padding: 6px 0;
  opacity: 0;
  transition: all .2s ease-in-out;

  button {
    border-radius: 15px;
  }
}

.show-scrollTop {
  opacity: 1;
  transition: all .2s ease-in-out;
}
