<div class="nav-panel">
  <div class="nav-panel__container container">
    <div class="nav-panel__row">
      <div *ngIf="logo" class="nav-panel__logo">
        <a [routerLink]="root.url('/trang-chu')">
          Yến Vàng Miền Nam
        </a>
      </div>

      <!-- .nav-links -->
      <app-header-links class="nav-panel__nav-links nav-links"></app-header-links>
      <!-- .nav-links / end -->

      <div class="nav-panel__indicators">
        <div class="indicator">
          <a [routerLink]="root.url('/danh-sach-yeu-thich')" class="indicator__button">
            <span class="indicator__area">
              <app-icon name="heart-20" size="20"></app-icon>
              <span class="indicator__value">{{ wishlist.count$|async }}</span>
            </span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
