<app-page-header [header]="'Danh sách yêu thích'" [breadcrumbs]="[
    {label: 'Trang chủ',      url: '../../'},
    {label: 'Danh sách yêu thích', url: ''}
]"></app-page-header>

<div class="block block-empty" *ngIf="!(wishlist.items$|async).length">
    <div class="container">
        <div class="block-empty__body">
            <div class="block-empty__message">Danh sách mong muốn rỗng!</div>
            <div class="block-empty__actions">
                <a routerLink="../../" class="btn btn-primary btn-sm">Tiếp tục</a>
            </div>
        </div>
    </div>
</div>

<div class="block" *ngIf="(wishlist.items$|async).length">
    <div class="container">
        <table class="wishlist">
            <thead class="wishlist__head">
            <tr class="wishlist__row">
                <th class="wishlist__column wishlist__column--image">Hình ảnh</th>
                <th class="wishlist__column wishlist__column--product">Sản phẩm</th>
                <th class="wishlist__column wishlist__column--stock">Trạng thái kho</th>
                <th class="wishlist__column wishlist__column--price">Giá</th>
                <th class="wishlist__column wishlist__column--remove"></th>
            </tr>
            </thead>
            <tbody class="wishlist__body">
            <tr *ngFor="let product of wishlist.items$|async" class="wishlist__row">
                <td class="wishlist__column wishlist__column--image">
                    <a [routerLink]="root.product(product.id)" *ngIf="product.images?.length"><img [src]="product.images[0]" alt=""></a>
                </td>
                <td class="wishlist__column wishlist__column--product">
                    <a [routerLink]="root.product(product.id)" class="wishlist__product-name">{{ product.name }}</a>
                    <div class="wishlist__product-rating">
                        <app-rating [value]="product.rating"></app-rating>
                        <div class="wishlist__product-rating-legend">{{ product.reviews }} Reviews</div>
                    </div>
                </td>
                <td class="wishlist__column wishlist__column--stock">
                    <div class="badge badge-success">Còn hàng</div>
                </td>
                <td class="wishlist__column wishlist__column--price">{{ product.price|currencyFormat }}</td>
                <td class="wishlist__column wishlist__column--remove">
                    <button type="button" class="btn btn-light btn-sm btn-svg-icon" (click)="remove(product)" [ngClass]="{'btn-loading': removedProducts.includes(product)}">
                        <app-icon name="cross-12" size="12"></app-icon>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
