<div class="block post post--layout--{{ layout }}">
  <div class="post__header post-header post-header--layout--{{ layout }}">
    <div class="post-header__categories">
      <a [routerLink]="root.url('/blog')" *ngFor="let category of post.categories">{{ category }}</a>
    </div>
    <h1 class="post-header__title">{{ post.title }}</h1>
    <div class="post-header__meta">
      <div class="post-header__meta-item"><a href="">{{ post.date }}</a></div>
    </div>
  </div>

  <div class="post__featured">
    <a href="">
      <img [src]="post.image" alt="">
    </a>
  </div>

  <div class="post__content typography" [ngClass]="{'typography--expanded': layout === 'full'}" [innerHTML]="post.content"></div>

  <section class="post__section">
    <h4 class="post__section-title">Các bài viết liên quan</h4>

    <div class="related-posts">
      <div class="related-posts__list">
        <div *ngFor="let post of posts|slice:0:2" class="related-posts__item post-card post-card--layout--related">
          <div class="post-card__image">
            <a routerLink="./">
              <img [src]="post.image" alt="">
            </a>
          </div>
          <div class="post-card__info">
            <div class="post-card__name">
              <a routerLink="./">{{ post.title }}</a>
            </div>
            <div class="post-card__date">{{ post.date }}</div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
