<div class="block">
    <div class="container">
        <div class="not-found">
            <div class="not-found__404">
               Rất tiết! Lỗi 404
            </div>

            <div class="not-found__content">
                <h1 class="not-found__title">Không tìm thấy trang</h1>

                <p class="not-found__text">
                    Chúng tôi không tìm thấy trang bạn muốn tới.
                </p>

                <p class="not-found__text">
                    Hãy trở về trang chủ của chúng tôi.
                </p>

                <a class="btn btn-secondary btn-sm" [routerLink]="root.url('/trang-chu')">Trang chủ</a>
            </div>
        </div>
    </div>
</div>
