<app-page-header [breadcrumbs]="[
    {label: 'Trang chủ', url: root.url('/trang-chu')},
    {label: 'Sản phẩm', url: root.url('/danh-muc')},
    {label: product?.name, url: ''}
]"></app-page-header>

<ng-container *ngIf="layout !== 'sidebar'">
    <div class="block">
        <div class="container">
            <app-product [product]="product" [layout]="layout"></app-product>
        </div>
    </div>

    <app-block-products-carousel header="Sản phẩm liên quan" [products]="products" [rows]="1" layout="grid-5"></app-block-products-carousel>
</ng-container>
